#container {
  display: flex;
  flex-direction: row;
}

#control {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0px 10px;
  gap: 10px;
}

#canvas {
  display: flex;
  /* flex: auto; */
}

#info {
  display: flex;
  flex: 3;
  flex-direction: column;
  overflow: scroll;
  padding: 0px 10px;
  height: 90vh;
  gap: 10px;
}

.info::-webkit-scrollbar {
  display: none;
}